<!-- Info: odd -> if is odd = than it gets another css -->
<div *ngFor="let number of [0,1,2]; let i=index; let odd=odd; trackBy:trackByFunction" [class.odd]="odd">
    {{i}} {{number}}
    <app-user></app-user>
</div>

<button (click)="toggleWarning()">
    clicka me
</button>

<p *ngIf="toggleBoy">
    Yo
</p>

<input type="number" [(ngModel)]="inputValue" style="display: block;">
<p>Hello {{ inputValue | number:'1.2-2' }}</p>
<p>{{ today | date: 'dd/MM/yyyy' }}</p>

<!-- <div *ngIf="customers$ | async as customers"> -->
    <div *ngFor="let user of users">
        <span>
            {{ user.lastName }}
        </span> 
    </div>
<!-- </div> -->